/externals
/target
/db
/docs/cargo_docs/debug
/.helix
/test_binaries/bins/*
/integration-tests/chain_cache/*
!/integration-tests/chain_cache/testnet_get_subtree_roots_sapling
!/integration-tests/chain_cache/testnet_get_subtree_roots_orchard
.cargo
test_binaries/
docker_cargo/**/*
!docker_cargo/**/.gitkeep
container-target/
.local/
