[package]
name = "zingo-proxy"
version = "0.1.0"
edition = "2021"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
http = "0.2.4"
portpicker = "0.1.1"
tokio = { version = "1.35.1", features = ["rt-multi-thread"] }
tonic = "0.10.2"
zcash_client_backend = { git = "https://github.com/zingolabs/librustzcash.git", tag = "zingo_rc.2.1", features = ["lightwalletd-tonic"] }
zingo-netutils = { git = "https://github.com/aloearev/zingolib.git", branch = "cratify_netutils" }

